.App {
  text-align: center;
}

.header {
  background-color: cornflowerblue;
  top: 0;
  width: 100%;
  position: fixed;
  height: 10%;
}

form {
  margin: 10% auto 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid black;
}
